<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="./achievement.css"></link>  
</head>
<body>
  <canvas height='1' id='confetti' width='1'>
  </canvas>
<h1 class='headerText'>Congratulations, XXX. You did it!</h1>
<div id='circle'>
  <p id='circle-text'>XX kg</p>
  <div id='mask'>
  </div>
</div>  <script src="./confetti.js"></script>
</body>
</html>